<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>AVENTREX</ion-title>
      <ion-avatar slot="end">
        <img src="assets/icon/logo.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="chat-content">
    <div class="message-list">
      <div
        *ngFor="let msg of messages"
        class="message-row"
        [ngClass]="msg.type"
      >
        <div *ngIf="msg.type === 'received'" class="avatar"></div>
        <div class="bubble">{{ msg.text }}</div>
      </div>
    </div>

    <div class="chat-input">
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-icon name="add-outline"></ion-icon>
          <ion-icon name="happy-outline"></ion-icon>
        </ion-buttons>
        <ion-input [(ngModel)]="newMessage" placeholder="Message"></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="sendMessage()">
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </ion-content>
</ion-content>
