<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>AVENTREX</ion-title>
      <ion-avatar slot="end">
        <img src="assets/icon/logo.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h2 class="title">Daftar Nama Karyawan</h2>

    <ion-searchbar placeholder="search..."></ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let user of filteredUsers()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>{{ user.name }}</h3>
          <p>{{ user.nip }}</p>
        </ion-label>
        <ion-button fill="clear" size="small" color="success" slot="end"
          >Edit</ion-button
        >
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
