.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
  }

  .content-container {
    margin-top: 100px;
  }

  .success-icon {
    width: 150px;
    margin-bottom: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  h2 {
    font-family: "Arial Black", sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}
