<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>AVENTREX</ion-title>
      <ion-avatar slot="end">
        <img src="assets/icon/logo.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="approvals-page">
    <!-- Riwayat Pengajuan di bawah header -->
    <div class="submission-history-title">Riwayat Pengajuan</div>

    <ion-card *ngFor="let item of submissions">
      <ion-card-content>
        <p><strong>Status</strong>: {{ item.status }}</p>
        <p><strong>Tanggal</strong>: {{ item.tanggal }}</p>
        <p><strong>Nama Pengaju</strong>: {{ item.nama }}</p>
        <p><strong>Company</strong>: {{ item.company }}</p>
        <p><strong>Catatan</strong>: {{ item.catatan }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
