<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>AVENTREX</ion-title>
      <ion-avatar slot="end">
        <img src="assets/icon/logo.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="approvals-page">
    <!-- Riwayat Pengajuan di bawah header -->
    <div class="submission-history-title">Riwayat Pengajuan</div>

    <ion-card>
      <ion-card-content>
        <div class="card-detail">
          <div><strong>Status</strong> : Diajukan</div>
          <div><strong>Tanggal</strong> : 20-02-2026</div>
          <div><strong>Nama Pengaju</strong> : Ahmad Muhammad</div>
          <div><strong>Company</strong> : PT. JayaYajaya</div>
          <div><strong>Catatan</strong> : -</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="card-detail">
          <div><strong>Status</strong> : Disetujui</div>
          <div><strong>Tanggal</strong> : 21-02-2026</div>
          <div><strong>Nama Pengaju</strong> : Ahmad Muhammad</div>
          <div><strong>Company</strong> : PT. JayaYajaya</div>
          <div><strong>Catatan</strong> : -</div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
